* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.header-menu {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
}
.logo {
  width: 13%;
  align-items: center;
  height: 50px;
  padding: 20px 50px 0px 20px;
}
.menu-1 {
  display: flex;
  list-style: none;
  width: 63%;
  align-items: center;

  padding: 20px 40px 0px 180px;
}
.menu-1 li,
.menu-2 li {
  padding: 0px 20px;
}
.menu-2 {
  display: flex;
  list-style: none;
  width: 23%;
  align-items: center;

  padding: 20px 40px 0px 40px;
}
a {
  text-decoration: none;
  font-weight: 700;
  color: black;
}
.top-banner {
  align-items: center;
  text-align: center;
  padding-top: 10%;
}
.top-heading {
  padding: 20px 0px 300px 0px;
}
.button-1,
.button-2 {
  margin: 0px 20px;
  border-radius: 25px;
  padding: 12px 100px;
}
.button-1 {
  background-color: rgba(23, 26, 32, 0.8);
  color: white;
}
.button-2 {
  background-color: rgba(255, 255, 255, 0.8);
  color: white;
  border: none;
}
.down {
  height: 50px;
  width: 50px;

  margin-left: 50%;
  margin-top: 5%;
}
.all-top {
  /* background-image: url("images 2/model-3.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.sidebar {
  list-style: none;
  background-color: white;
  width: 250px;
  position: fixed;
  right: -250px;
  top: 0;
  height: 100vh;
  flex-direction: column;
  padding-top: 2rem;
  transition: all 0.5s ease-in-out;
}
.sidebar a {
  padding: 0.5rem;
  margin: 0.25rem;
  display: inline-block;
}
.sidebar .cross {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}
